# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
lib
build
bin

# Ignore any testing directories
cycle

# Ignore Eclipse artifacts
.project
.settings
.classpath

# Ignore logging artifacts
*.log